{
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "browser": true,
    "client": true,
    "server": true,
    "Meteor": true,
    "Dochead": true,
    "ReactiveDict": true,
    "Picker": true
  },
  "plugins": [
      "import",
      "babel",
      "chai-friendly",
      "prettier"
  ]
}